<div class="container bg-black p-4 w-4/5">
	<div class="inline-block ml-8">
	{% for post in site.posts limit:3 %}
		<div class="inline-block w-1/4 bg-gray-300 mx-6 h-min-full border-4 border-white my-4">
			<img src="{{ post.img }}" width=300 height=300 class="p-2"/>
			<a href="{{ post.url }}">
				<h1 class="mx-2 text-xl font-serif text-black hover:text-gray-500">{{ post.title }}</h1>
			</a>
			<p class=" p-2">
				{{post.date | date_to_string}} {% if post.topic %}
			  	in <a class="hover:text-gray-500 bg-gray-100 rounded p-1" href="topics/{{ post.topic | downcase}}.html">{{ post.topic }}</a>
			  	{% endif %}
			</p>
			<div class="container mx-auto mb-2 w-7/8">
				<p class="m-2 font-sans" style="overflow-wrap: break-word;">
					{{ post.excerpt | strip_html | strip_newlines | truncate: 140 }}
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>