---
layout: default
---
<div class="container text-gray-800 mx-auto w-11/12">
	<div class="container bg-gray-300 border-4 border-gray-600 rounded-lg text-gray-800 mt-4 mx-auto w-4/5 p-3 font-sans">
		<h1 class="text-4xl">{{ page.title }}</h1>
		<p class="text-base ml-4">
			Written {{ page.date | date_to_string }}
			{% assign topic = site.topics | where: 'name', page.topic | first %}
			{% if topic %}
		    in <a class="hover:text-green-700 bg-gray-100 rounded p-1" href="{{ topic.url }}">{{ topic.name }}</a>
		  	{% endif %}
		</p>
	</div>


	<div class="container bg-gray-300 text-gray-800 mt-4 p-5 w-4/5 mx-auto rounded-lg font-sans">
{{ content }}
	</div>
</div>